.main {
  &__content-holder {
    padding-top : 90px;
    display: flex;
    flex-direction: column;
  }
  &__article {
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    gap: 30px;
  }
  &__goods {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 52px; 
  }
  &__ad {
    width: 250px;
  }
}
