@import 'mixins';
@import 'variables';

* {
  font-family: 'Inter';
  color: #333333;
}


body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.block-normalizer {
  max-width: 1300px;
  width: 100%;
  align-self: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  flex: 1;
}
.text-button {
  border: none;
  background: var(--invisible-bg);
  padding: 0;
}
.button {
  border: none;
  background: var(--invisible-bg);
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.5s;
  font-weight: 600;
}
.default-image {
  //background: url("@images/header/fish.svg");
  object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.text-black {
  color: var(--black);
}
.text-green {
  color: var(--green);
}
.text-gray {
  color: var(--gray);
}
.red-button {
  background: var(--red);
  &:hover {
    background: var(--dark-red);
  }
}
.green-button {
  background: var(--green);
  &:hover {
    background: var(--dark-green);
  }
}
.weight-s {
  font-weight: 300;
}
.weight-m {
  font-weight: 400;
}
.weight-l {
  font-weight: 500;
}
.weight-xl {
  font-weight: 600;
}

.font-s {
  font-size: 14px;
}
.font-m {
  font-size: 16px;
}
.font-l {
  font-size: 18px;
} 

.font-xl {
  font-size: 24px;
}
.font-xxl {
  font-size: 32px;
}
$md: 480;
$lg: 786;
$xl: 1350;
$xll: 1702;
$xxl: 1920;

@include media-down($bp1) {
  
}