$md: 480;
$lg: 786;
$xl: 1350;
$xll: 1702;
$xxl: 1920;

$bp1: 1109;
$bp2: 950;
$bp3: 767;
$bp4: 426;

:root {
    --black: #000;
    --white: #fff;
    --gray-bg: #F2F2F2;
    --gray: #AFAFAF;
    --gray-icon: #D0D0D0;
    --gray-border: #E2E2E2;
    --invisible-bg: #00000000;
    --red: #EA4335;
    --dark-red: #b4372b;
    --green: #0F9C29;
    --dark-green: #0d7821;
    --base-box-shadow: hsla(0,0%,60%,.25);
}
